@import "general";

html {
  color: #222;
  font-size: .9em;
  line-height: 1.4;
  font-family: 'Raleway', Arial, sans-serif;
  @include bp(tablet) {
    font-size: 1em;
  }
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

body {
  @extend %center;
  background: url('/images/mountain.jpeg') no-repeat;
  background-size: cover;
  filter: blur(5px);
  display: flex;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
}

@import "grid";
@import "feeling";

div[role="main"] {
  background: #43464F;
  width: 85%;
  box-shadow: 2px 5px 10px rgba(#000, .2);
}

.map-container {
  position: relative;
  margin: 0 auto;
}

.dot {
  position: absolute;
  height: 2px;
  width: 2px;
  background: red;
}

.grid {
  position: relative;
  border-radius: 5px;
  color: #fafafa;
  height: 500px;
  .row {
    height: 50%;
  }
  .column {
    padding: 2em;
  }

  /* Browser rendering performance killer
  &::before {
    content: '';
    background-image: url('/images/mountain.jpeg');
    -webkit-filter: blur(25px);
    filter: blur(25px);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.3;
  }*/
}

.metrics {
  @extend %center;
  .tweet-count {
    font-size: 3em;
  }
  label {
    font-size: 1.2em;
  }
}
