@import "general";

html {
  color: #222;
  font-size: .9em;
  line-height: 1.4;
  font-family: 'Raleway', Arial, sans-serif;
  @include bp(tablet) {
    font-size: 1em;
  }
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
}

body {
  @extend %center;
  background: url('/images/mountain.jpeg') no-repeat;
  background-size: cover;
  filter: blur(5px);
  display: flex;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
}

@import "grid";
@import "feeling";

div[role="main"] {
  background: #43464F;
  width: 85%;
  box-shadow: 2px 5px 10px rgba(#000, .2);
}

.map-container {
  position: relative;
  margin: 0 auto;
}

.dot {
  position: absolute;
  height: 2px;
  width: 2px;
  background: #f79e34;
  &::before, &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -17px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
  }

  &::before, &::after {
    box-shadow: 0 0 0 2px rgba(#f79e34, 0.7);
  }

  &::before {
    -webkit-animation: wave-1 0.5s forwards;
  	animation: wave-1 0.5s forwards;
  }

  &::after {
    -webkit-animation: wave-2 0.5s forwards;
    animation: wave-2 0.5s forwards;
  }
}

@-webkit-keyframes wave-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes wave-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes wave-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes wave-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

.grid {
  position: relative;
  border-radius: 5px;
  color: #fafafa;
  height: 500px;
  .row {
    height: 50%;
  }
  .column {
    padding: 2em;
  }

  /* Browser rendering performance killer
  &::before {
    content: '';
    background-image: url('/images/mountain.jpeg');
    -webkit-filter: blur(25px);
    filter: blur(25px);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.3;
  }*/
}

.metrics {
  @extend %center;
  .tweet-count {
    font-size: 3em;
  }
  label {
    font-size: 1.2em;
  }
}

.top {
  ul {
    list-style-type: decimal;
  }
}
