@import "general";

html {
  color: #222;
  font-size: .9em;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
  @include bp(tablet) {
    font-size: 1em;
  }
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  min-width: 1020px;
}

body {
  @extend %center;
  background: url('/images/mountain.jpeg') no-repeat;
  background-size: cover;
  filter: blur(5px);
  display: flex;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

@import 'colors';
@import "grid";
@import "feeling";

div[role="main"] {
  background: #43464F;
  width: 85%;
  min-width: 1020px;
  border-radius: 5px;
  margin: 3em 0;
  box-shadow: 2px 5px 10px rgba(#000, .2);
}

.map-container {
  position: relative;
  margin: 0 auto;
}

.dot {
  position: absolute;
  height: 6px;
  width: 6px;
  cursor: pointer;
  &.closed {
    .content { display: none !important; }
  }
  .mark {
    height: 2px;
    width: 2px;
    margin: 2px 0 0 2px;
    background: #f79e34;
  }
  .content {
    background-color: #eee;
    width: 300px;
    font-size: .8em;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    z-index: 100;
    position: relative;
    .profile-image {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .text {
      float: left;
      margin-left: 5px;
      width: 248px;
    }
  }

  &::before, &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -17px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
  }

  &::before, &::after {
    box-shadow: 0 0 0 2px rgba(#f79e34, 0.7);
  }

  &::before {
    -webkit-animation: wave-1 0.5s forwards;
  	animation: wave-1 0.5s forwards;
  }

  &::after {
    -webkit-animation: wave-2 0.5s forwards;
    animation: wave-2 0.5s forwards;
  }
}

@-webkit-keyframes wave-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes wave-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@-webkit-keyframes wave-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

@keyframes wave-2 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
  50%, 100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

.grid {
  position: relative;
  border-radius: 5px;
  color: #fafafa;
  .column {
    padding: 2em;
  }

  /* Browser rendering performance killer
  &::before {
    content: '';
    background-image: url('/images/mountain.jpeg');
    -webkit-filter: blur(25px);
    filter: blur(25px);
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 0.3;
  }*/
}

.counters {
  @extend %center;
  padding: 0 !important;
  .counter {
    padding-top: 0;
    text-align: center;
  }
  .label {
    color: $grey;
  }
}

.tweet-count {
  font-size: 2.5em;
  .new & {
    color: $green;
  }
  .deleted & {
    color: $red;
  }
  .retweeted & {
    color: $lightgreen;
  }
}

.top-hashtags, .random-tweets {
  padding-top: 1em !important;
  h2 {
    text-transform: uppercase;
    font-size: 1em;
    color: $grey;
    text-align: center;
  }
}

.top-hashtags {
  ul {
    @extend %reset;
    list-style-type: decimal;
    color: $grey;
    padding: 0 3em;
  }
  li {
    position: relative;
    padding: 0.3em 0;
  }
  .hashtag {
    background: #5a5a5a;
    border-radius: 3px;
    padding: .2em .6em;
    a {
      color: #038cd8;
      &::before {
        content: '#';
      }
    }
  }
  .hashtag-amount {
    position: absolute;
    right: -1em;
    color: $lightgreen;
  }
}

.random-tweets {
  ul {
    @extend %reset;
    list-style-type: none;
    li {
      margin: 5px 0;
      display: flex;
      align-items: center;
      .profile-image {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .details {
        float: left;
        margin-left: 10px;
        width: 500px;
        .timeAndUser {
          font-size: .8em;
          color: $grey;
        }
        .user::before {
          content: '@';
        }
      }
    }
  }
}

.random-photos {
  margin: 0 auto;
  padding: 2em;
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    .photo {
      width: 200px;
      height: 300px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
    }
  }
}
